{% extends "base.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/board.css' %}" />
<script src="{% static 'js/board.js' %}"></script>
{% endblock %}

{% block content %}
<!--메인 콘텐츠 작성-->
<div class="board">
<aside>
    <div class="menuA"><a href="">공지사항</a></div>
    <div class="menuB"><a href="">문의하기</a></div>
    <div class="menuC">
        <i class="bi bi-chevron-right"></i>
        <a href="">커뮤니티</a>
    </div>
</aside>

<div class="post">
    <div class="postA">
        <span class="postA1">총 <span class="post-count">99</span>개</span>
        <div class="postA2">
            <input class="post-search" type="search" placeholder="검색어를 입력해 주세요">
            <i class="bi bi-search"></i>
        </div>
    </div>
    
    <div class="postB">
        <div class="postB1">01</div>
        <div class="postB2">
            <div class="post_title">5월 정기 발표회 안내</div>
            <div class="post_info"><span class="name">김나리</span>
            &nbsp|&nbsp
            <span class="date">2025.01.01</span>
            &nbsp|&nbsp
            <span class="click_text">조회수&nbsp</span>
            <span class="click">15</span></div>
        </div>
    </div>    

    <div class="postB">
        <div class="postB1">01</div>
        <div class="postB2">
            <div class="post_title">5월 정기 발표회 안내</div>
            <div class="post_info"><span class="name">김나리</span>
            &nbsp|&nbsp
            <span class="date">2025.01.01</span>
            &nbsp|&nbsp
            <span class="click_text">조회수&nbsp</span>
            <span class="click">15</span></div>
        </div>
    </div> 

    <div class="postB">
        <div class="postB1">01</div>
        <div class="postB2">
            <div class="post_title">5월 정기 발표회 안내</div>
            <div class="post_info"><span class="name">김나리</span>
            &nbsp|&nbsp
            <span class="date">2025.01.01</span>
            &nbsp|&nbsp
            <span class="click_text">조회수&nbsp</span>
            <span class="click">15</span></div>
        </div>
    </div> 

    <div class="postB">
        <div class="postB1">01</div>
        <div class="postB2">
            <div class="post_title">5월 정기 발표회 안내</div>
            <div class="post_info"><span class="name">김나리</span>
            &nbsp|&nbsp
            <span class="date">2025.01.01</span>
            &nbsp|&nbsp
            <span class="click_text">조회수&nbsp</span>
            <span class="click">15</span></div>
        </div>
    </div> 

    <div class="postB">
        <div class="postB1">01</div>
        <div class="postB2">
            <div class="post_title">5월 정기 발표회 안내</div>
            <div class="post_info"><span class="name">김나리</span>
            &nbsp|&nbsp
            <span class="date">2025.01.01</span>
            &nbsp|&nbsp
            <span class="click_text">조회수&nbsp</span>
            <span class="click">15</span></div>
        </div>
    </div> 

    <div class="postB">
        <div class="postB1">01</div>
        <div class="postB2">
            <div class="post_title">5월 정기 발표회 안내</div>
            <div class="post_info"><span class="name">김나리</span>
            &nbsp|&nbsp
            <span class="date">2025.01.01</span>
            &nbsp|&nbsp
            <span class="click_text">조회수&nbsp</span>
            <span class="click">15</span></div>
        </div>
    </div> 

    <div class="postB">
        <div class="postB1">01</div>
        <div class="postB2">
            <div class="post_title">5월 정기 발표회 안내</div>
            <div class="post_info"><span class="name">김나리</span>
            &nbsp|&nbsp
            <span class="date">2025.01.01</span>
            &nbsp|&nbsp
            <span class="click_text">조회수&nbsp</span>
            <span class="click">15</span></div>
        </div>
    </div> 

    <div class="postB">
        <div class="postB1">01</div>
        <div class="postB2">
            <div class="post_title">5월 정기 발표회 안내</div>
            <div class="post_info"><span class="name">김나리</span>
            &nbsp|&nbsp
            <span class="date">2025.01.01</span>
            &nbsp|&nbsp
            <span class="click_text">조회수&nbsp</span>
            <span class="click">15</span></div>
        </div>
    </div> 

    <div class="postB">
        <div class="postB1">01</div>
        <div class="postB2">
            <div class="post_title">5월 정기 발표회 안내</div>
            <div class="post_info"><span class="name">김나리</span>
            &nbsp|&nbsp
            <span class="date">2025.01.01</span>
            &nbsp|&nbsp
            <span class="click_text">조회수&nbsp</span>
            <span class="click">15</span></div>
        </div>
    </div> 

    <div class="postB">
        <div class="postB1">01</div>
        <div class="postB2">
            <div class="post_title">5월 정기 발표회 안내</div>
            <div class="post_info"><span class="name">김나리</span>
            &nbsp|&nbsp
            <span class="date">2025.01.01</span>
            &nbsp|&nbsp
            <span class="click_text">조회수&nbsp</span>
            <span class="click">15</span></div>
        </div>
    </div> 

    <div class="page">
        <ul>
            <li><a href=""><i class="bi bi-chevron-left"></i></a></li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href=""><i class="bi bi-chevron-right"></i></a></li>
        </ul>
    </div>
</div>

</div>

{% endblock %}