/* board.css */


.board {
    margin: 200px 0;
    width: 100%;
    display: flex;
    overflow: hidden;
  }

  aside {
    margin: 0 145px 0 0;
    float: left;
  }

  .post {
    width: 955px;
    float: left;
  }

  .menuA a {
    color: var( --color-green);
  }

  .menuB a:hover, .menuC a:hover {
    color: var( --color-green);
  }

  .menuA, .menuB {
    width: 70px;
    margin: 0 0 25px 0;
    font-size: 20px;
    font-weight: 600;
  }

  .menuC {
    width: 100px;
    font-size: 20px;
    font-weight: 600;
  }

  .menuC.bi-chevron-right {
    margin: 0 3px 0 0;
    font-size: 15px;
  }

  .postA {
    border-bottom: solid 2px var(--color-black);
    width: 955px;
    height: 55px;
    overflow: hidden;
  }

  .postA1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 55px;
    float: left;
  }

  .post-count {
    font-size: 20px;
    font-weight: 700;
  }
  
  .postA2 {
    margin: 7.5px 0;
    float: right;
    border: solid 1px var(--color-grey2);
    border-radius: 8px;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
  } 
    
  .post-search {
    border: none;
    margin: 7.5px 40px 7.5px 20px;
    font-size: 16px;
    color: var(--color-grey2);
    overflow: auto;
    -webkit-appearance: none;
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
    outline: none;
  }

  .bi-search {
    width: 14px;
    color: var(--color-grey2);
  }

  .postB {
    border-bottom: solid 1px var(--color-grey3);
    width: 955px;
    height: 93px;
    overflow: hidden;
  }

  .postB1 {
    width: 100px;
    height: 93px;
    font-size: 18px;
    color: var(--color-grey1);
    text-align: center;
    line-height: 93px;
    float: left;
  }

  .postB2 {
    padding: 23px 0 23px 0;
    float: left;
  }

  .post_title {
    font-size: 18px;
    margin: 0 0 4px 0;
  }

  .post_info {
    font-weight: 300;
    color: var(--color-grey2);
  }
  .name, .date, .click_text, .click {
    color: var(--color-grey1)
  }

  .page {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

.page ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.page li {
  margin: 0 15px 0 0;
  font-size: 13px;
}


.page a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
}


.page a:hover {
  color: var(--color-green);
}
