.title_wrap {
  margin: 170px 0 90px 0;
  width: 100%;
}

.title {
  width: 70px;
  height: 30px;
}

.title span {
  font-weight: 700;
  font-size: 20;
  color: var(--color-black);
  margin-bottom: 15px;
}

.title hr {
  width: 100%;
  height: 5px;
  border: none;
}

.content_wrap {
  width: 360px;
  margin: auto;
  padding: 10px;
}

.form_list {
  margin-bottom: 40px;
}

.form_select {
  width: 350px;
  padding: 10px;
  height: 150px;
  border: 0.5px solid var(--color-grey3);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  border: none;
}

.check-id {
  padding: 3px 9px;
  margin-bottom: 10px;
  display: inline-flex;
  max-width: auto;
  height: 23px;
  background-color: var(--color-grey2);
  color: var(--color-white);
  font-size: 11px;
  border-radius: 8px;
}

.id-status {
  font-size: 11px;
  color: var(--color-grey3);
}


.toggle-button {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  margin: 0 5px 5px 0;
  padding: 6px 8px;
  font-size: 14px;
  min-width: 0;
  max-width: 100%;
  height: 20px;
  line-height: 120%;
  color: var(--color-black);
  background-color: #F5F5F5;
  border-radius: 3px;
  cursor: pointer;
}


input {
  width: 350px;
  height: 50px;
  margin: 0 auto;
  border: 0.5px solid var(--color-grey3);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

textarea {
  width: 350px;
  height: 100px;
  border: 0.5px solid var(--color-grey3);
  border-radius: 8px;
  padding: 10px;
}

.sub_btn {
  width: 350px;
  height: 40px;
  background-color: var(--color-green);
  color: var(--color-white);
  padding: auto;
  border-radius: 8px;
}
