.profile {
    margin: 170px 0 120px 0;
    width: 100%;
    height: 245px;
}
.profile-title {
    width: 100%;
    height: 30px;
}
.profile-title h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-black);
}
.profile-box {
    border: solid 2px var(--color-grey2);
    width: 100%;
    height: 200px;
    border-radius: 15px;
    margin: 15px 0 0 0;
}
.profile-member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 460px;
    height: 140px;
    margin: 30px 600px 30px 140px;
}
.profile-face {
    display: flex;
    align-items: center;
    width: 140px;
    height: 200px;
}
.user {
    width: 140px;
    height: 140px;
    background-color: var(--color-white);
    cursor: pointer;
} 
.user.img {
    width: 140px;
    height: 140px;
} 
.user:hover

.profile-textbox {
    width: 230px;
    height: 90px;
    /* margin: 55px 0 55px 90px; */
}
.profile-text1 {
    display: flex;
    align-items: center;
    width: 265px; 
    height: 48px; 
}
.pro-t1 h1 {
    font-weight: 600;
    font-size: 32px;
    color: var(--color-black);
}
.pro-t2 h1 {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-grey2);
    padding: 10px 0 0 10px;
}
.profile-text2 {
    display: flex;
    align-items: center;
    width: 230px; 
    height: 27px;
    margin: 15px 0 0 0;
}
.bi-box-arrow-right {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-grey2);
    cursor: pointer;
}
.pro-t3 h1 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 0 5px;
    color: var(--color-grey2);
    cursor: pointer;
}
.bi-gear {
    margin: 0 0 0 25px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-grey2);
    cursor: pointer;
}
.pro-t4 h1 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 0 5px;
    color: var(--color-grey2);
    cursor: pointer;
} 




.write {
    margin: 0 0 120px 0;
    width: 100%;
    height: 375px;
}

.write-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px; 
}
.write-title h2 {
    font-weight: 700;
    font-size: 20px;
}
.write-title2 {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.write-title2 h1 {
    font-weight: 400;
    font-size: 13px;
    color: var(--color-black);
}
.bi-plus-circle {
    font-weight: 400;
    font-size: 13px;
    margin: 0 0 0 5px;
    color: var(--color-black);
}
hr {
    width: 100%;
    height: 2px;
    margin: 15px 0 15px 0;
    color: var(--color-black);
}

.write-box1 {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    background-color: var(--color-grey4); 
    cursor: pointer;
}
.write-text1 {
    margin: 0 786px 0 60px;
    padding: 26px 0 26px 0;
}
.wri-t1 {
    margin: 0 0 10px 0;
    width: 353px;
    height: 27px;  
}
.wri-t1 h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-green);
}
.wri-t2 {
    margin: 0 0 10px 0;
    width: 353px;
    height: 27px;  
}
.wri-t2 h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
}
.wri-t3 {
    width: 353px;
    height: 24px;  
}
.wri-t3 h1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-grey2);
}

.write-box2 {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    margin: 15px 0 0 0;
    background-color: var(--color-grey4); 
    cursor: pointer;
}
.write-text2 {
    margin: 0 786px 0 60px;
    padding: 26px 0 26px 0;
}
.wri-t4 {
    margin: 0 0 10px 0;
    width: 353px;
    height: 27px;  
}
.wri-t4 h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-green);
}
.wri-t5 {
    margin: 0 0 10px 0;
    width: 353px;
    height: 27px;  
}
.wri-t5 h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
}
.wri-t6 {
    width: 353px;
    height: 24px;  
}
.wri-t6 h1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-grey2);
}




.comment {
    margin: 0 0 120px 0;
    width: 100%;
    height: 210px;
}

.comment-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px; 
}
.comment-title h2 {
    font-weight: 700;
    font-size: 20px;
}
.comment-title2 {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.comment-title2 h1 {
    font-weight: 400;
    font-size: 13px;
    color: var(--color-black);
}
.bi-plus-circle {
    font-weight: 400;
    font-size: 13px;
    margin: 0 0 0 5px;
    color: var(--color-black);
}
hr {
    width: 100%;
    height: 2px;
    margin: 15px 0 15px 0;
    color: var(--color-black);
}

.comment-box1 {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    background-color: var(--color-grey4); 
    cursor: pointer;
}
.comment-text1 {
    margin: 0 786px 0 60px;
    padding: 26px 0 26px 0;
}
.com-t1 {
    margin: 0 0 10px 0;
    width: 353px;
    height: 27px;  
}
.com-t1 h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-green);
}
.com-t2 {
    margin: 0 0 10px 0;
    width: 353px;
    height: 27px;  
}
.com-t2 h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
}
.com-t3 {
    width: 353px;
    height: 24px;  
}
.com-t3 h1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-grey2);
}




.like {
    margin: 0 0 120px 0;
    width: 100%;
    height: 210px;
}

.like-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px; 
}
.like-title h2 {
    font-weight: 700;
    font-size: 20px;
}
.like-title2 {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.like-title2 h1 {
    font-weight: 400;
    font-size: 13px;
    color: var(--color-black);
}
.bi-plus-circle {
    font-weight: 400;
    font-size: 13px;
    margin: 0 0 0 5px;
    padding: 3px;
    color: var(--color-black);
}
hr {
    width: 100%;
    height: 2px;
    margin: 15px 0 15px 0;
    color: var(--color-black);
}

.like-box1 {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    background-color: var(--color-grey4); 
    cursor: pointer;
}
.like-text1 {
    margin: 0 500px 0 500px;
    padding: 15px 0 15px 0;
}
.like-t1 {
    width: 200px;
    height: 120px; 
}
.bi-exclamation-circle {
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    color: var(--color-grey2);
    padding: 0 60px 0 60px;
}
.like-text1 h1 {
    font-size: 18px;
    font-weight: 600;
    margin: 13px 0 0 0;  
    color: var(--color-grey2);
}




.bookmark {
    width: 100%;
    height: 375px;
}

.bookmark-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px; 
}
.bookmark-title h2 {
    font-weight: 700;
    font-size: 20px;
}
.bookmark-title2 {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.bookmark-title2 h1 {
    font-weight: 400;
    font-size: 13px;
    color: var(--color-black);
}
.bi-plus-circle {
    font-weight: 400;
    font-size: 13px;
    margin: 0 0 0 5px;
    color: var(--color-black);
}
hr {
    width: 100%;
    height: 2px;
    margin: 15px 0 15px 0;
    color: var(--color-black);
}

.bookmark-box1 {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    background-color: var(--color-grey4); 
    cursor: pointer;
}
.bookmark-text1 {
    margin: 0 786px 0 60px;
    padding: 26px 0 26px 0;
}
.bmk-t1 {
    margin: 0 0 10px 0;
    width: 353px;
    height: 27px;  
}
.bmk-t1 h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-green);
}
.bmk-t2 {
    margin: 0 0 10px 0;
    width: 353px;
    height: 27px;  
}
.bmk-t2 h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
}
.bmk-t3 {
    width: 353px;
    height: 24px;  
}
.bmk-t3 h1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-grey2);
}

.bookmark-box2 {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    margin: 15px 0 0 0;
    background-color: var(--color-grey4); 
    cursor: pointer;
}
.bookmark-text2 {
    margin: 0 786px 0 60px;
    padding: 26px 0 26px 0;
}
.bmk-t4 {
    margin: 0 0 10px 0;
    width: 353px;
    height: 27px;  
}
.bmk-t4 h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-green);
}
.bmk-t5 {
    margin: 0 0 10px 0;
    width: 353px;
    height: 27px;  
}
.bmk-t5 h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
}
.bmk-t6 {
    width: 353px;
    height: 24px;  
}
.bmk-t6 h1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-grey2);
}

